<section class="container">
  <header class="header__container">
    <span class="header__container-title">Bin</span>
    <span class="header__container-title">2Dec</span>
  </header>
  <main class="body__container">
    <div class="body__description">
      <h3>Converta seus valores binários para decimais de uma forma mais simples e rápida</h3>
    </div>
    <div class="body__wrapper">
      <div class="camp">
        <div class="camp__values">
          <label>Binário</label>
          <input
            class="body__input-value"
            type="number"
            (click)="formatInput()"
            #binaryNumber
            required=""
            [(ngModel)]="binaryValue"
          />
        </div>
        <div class="divider"></div>
        <div class="camp__values">
          <label>Decimal</label>
          <p class="body__result-value">{{decimalValue}}</p>
        </div>
      </div>
      <button class="button-converter" (click)="convertValues(binaryNumber.value)">Converter</button>
    </div>
  </main>
</section>
